#############################################################################
# Ignore editor junk
*.swp
*.bkp
*.bak
*~
.~lock.*
#############################################################################
